fastapi
uvicorn
python-dotenv
pypdf
pdfplumber
python-multipart
numpy
requests

chromadb
llama-index
langchain
langgraph
arize-phoenix
pymongo
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]